.pink {
  --texture:pink;
  --x:-300;
  --y:0;
  --z:0;
}

.violet {
  --texture:violet;
  --x:0;
  --y:0;
  --z:0;
}

.purple {
  --texture:purple;
  --x:300;
  --y:0;
  --z:0;
}

.vr-button {
  display: inline-block;
  height: 200px;
  width: 200px;
  background-color: violet;
  margin: 5px;
  text-align: center;
  line-height: 50px;
}